
<%- include('partials/header.ejs') %>

<div class="d-flex flex-content-center my-4 container-fluid" style="width: 100vw; ">
    <div class="mx-auto">

        <form
        action="/id-search "
        class="d-flex input-group g-0"
        method="POST"
        role="search"
        >
        <% if (locals.queryHolder) { %>
          <input
          type="text"
          class="form-control me-2"
          value="<%= queryHolder %> "
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          name="input"
          />
          <% } else { %>
           
        
        <input
        type="text"
        class="form-control me-2"
        placeholder="Search Superhero "
        aria-label="Recipient's username"
        aria-describedby="button-addon2"
        name="input"
        />
        <% } %>
    <button class="btn btn-warning" type="submit">Search</button>
</div>
</form>
</div>
<div
      class="search-results mx-5 d-flex flex-row flex-wrap flex-content-center mt-4"
    >
      <% if (locals.element) { %> 
        
      <div class="card m-2 text-bg-secondary" style="width: 15rem">
        <img src="<%= element.image.url %>" class="card-img-top" alt="<%= element.name %>" onerror="this.src='/images/nopic.png'" />
        <div class="card-body">
          <h5 class="card-title"><%= element.name %></h5>
          <p class="card-text"><%= element.work.occupation %></p>
          
          
          
          <!--start of modal-->
          <!-- Button trigger modal -->
<button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Details
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-bg-secondary">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= element.name %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Full Name:  <%= element.biography["full-name"] %></p>
        <p>Place of birth:  <%= element.biography["place-of-birth"] %></p>
        <p>Gender: <%= element.appearance.gender   %></p>
        <p>Height: <%= element.appearance.height[0] %></p>
        <p>Weight: <%= element.appearance.weight[0] %></p>
      </div>
      
    </div>
  </div>
</div>
          <!--end of modal-->
         
            
          </div>
        </div>
        <% } %>
        <% if (locals.error) { %>   
            <div><p>NO RESULTS FOUND!(<%= error %>)</p></div>
            <% } %>
    </div>
      
    </div>
    <%- include('partials/footer.ejs') %>